ObtencionResultados/xml-resources/web-service-references/RecomendadorRutas/wsdl/localhost_8080/ServidorRecomendador/RecomendadorRutas.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server/" name="RecomendadorRutas">
<types>
<xsd:schema>
<xsd:import namespace="http://server/" schemaLocation="http://localhost:8080/ServidorRecomendador/RecomendadorRutas?xsd=1"/>
</xsd:schema>
</types>
<message name="obtenerRutaTiempo">
<part name="parameters" element="tns:obtenerRutaTiempo"/>
</message>
<message name="obtenerRutaTiempoResponse">
<part name="parameters" element="tns:obtenerRutaTiempoResponse"/>
</message>
<message name="FileNotFoundException">
<part name="fault" element="tns:FileNotFoundException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="ClassNotFoundException">
<part name="fault" element="tns:ClassNotFoundException"/>
</message>
<message name="gurdarDatos">
<part name="parameters" element="tns:gurdarDatos"/>
</message>
<message name="gurdarDatosResponse">
<part name="parameters" element="tns:gurdarDatosResponse"/>
</message>
<message name="cargarDatos">
<part name="parameters" element="tns:cargarDatos"/>
</message>
<message name="cargarDatosResponse">
<part name="parameters" element="tns:cargarDatosResponse"/>
</message>
<message name="obtenerRutaDistancia">
<part name="parameters" element="tns:obtenerRutaDistancia"/>
</message>
<message name="obtenerRutaDistanciaResponse">
<part name="parameters" element="tns:obtenerRutaDistanciaResponse"/>
</message>
<message name="actualizarBaseDatos">
<part name="parameters" element="tns:actualizarBaseDatos"/>
</message>
<message name="actualizarBaseDatosResponse">
<part name="parameters" element="tns:actualizarBaseDatosResponse"/>
</message>
<message name="actualizarRuta">
<part name="parameters" element="tns:actualizarRuta"/>
</message>
<message name="actualizarRutaResponse">
<part name="parameters" element="tns:actualizarRutaResponse"/>
</message>
<message name="obtenerCosteTiempo">
<part name="parameters" element="tns:obtenerCosteTiempo"/>
</message>
<message name="obtenerCosteTiempoResponse">
<part name="parameters" element="tns:obtenerCosteTiempoResponse"/>
</message>
<message name="obtenerCosteDistancia">
<part name="parameters" element="tns:obtenerCosteDistancia"/>
</message>
<message name="obtenerCosteDistanciaResponse">
<part name="parameters" element="tns:obtenerCosteDistanciaResponse"/>
</message>
<portType name="Recomendador">
<operation name="obtenerRutaTiempo">
<input wsam:Action="http://server/Recomendador/obtenerRutaTiempoRequest" message="tns:obtenerRutaTiempo"/>
<output wsam:Action="http://server/Recomendador/obtenerRutaTiempoResponse" message="tns:obtenerRutaTiempoResponse"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://server/Recomendador/obtenerRutaTiempo/Fault/FileNotFoundException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://server/Recomendador/obtenerRutaTiempo/Fault/IOException"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://server/Recomendador/obtenerRutaTiempo/Fault/ClassNotFoundException"/>
</operation>
<operation name="gurdarDatos">
<input wsam:Action="http://server/Recomendador/gurdarDatosRequest" message="tns:gurdarDatos"/>
<output wsam:Action="http://server/Recomendador/gurdarDatosResponse" message="tns:gurdarDatosResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://server/Recomendador/gurdarDatos/Fault/IOException"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://server/Recomendador/gurdarDatos/Fault/FileNotFoundException"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://server/Recomendador/gurdarDatos/Fault/ClassNotFoundException"/>
</operation>
<operation name="cargarDatos">
<input wsam:Action="http://server/Recomendador/cargarDatosRequest" message="tns:cargarDatos"/>
<output wsam:Action="http://server/Recomendador/cargarDatosResponse" message="tns:cargarDatosResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://server/Recomendador/cargarDatos/Fault/IOException"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://server/Recomendador/cargarDatos/Fault/FileNotFoundException"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://server/Recomendador/cargarDatos/Fault/ClassNotFoundException"/>
</operation>
<operation name="obtenerRutaDistancia">
<input wsam:Action="http://server/Recomendador/obtenerRutaDistanciaRequest" message="tns:obtenerRutaDistancia"/>
<output wsam:Action="http://server/Recomendador/obtenerRutaDistanciaResponse" message="tns:obtenerRutaDistanciaResponse"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://server/Recomendador/obtenerRutaDistancia/Fault/FileNotFoundException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://server/Recomendador/obtenerRutaDistancia/Fault/IOException"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://server/Recomendador/obtenerRutaDistancia/Fault/ClassNotFoundException"/>
</operation>
<operation name="actualizarBaseDatos">
<input wsam:Action="http://server/Recomendador/actualizarBaseDatosRequest" message="tns:actualizarBaseDatos"/>
<output wsam:Action="http://server/Recomendador/actualizarBaseDatosResponse" message="tns:actualizarBaseDatosResponse"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://server/Recomendador/actualizarBaseDatos/Fault/FileNotFoundException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://server/Recomendador/actualizarBaseDatos/Fault/IOException"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://server/Recomendador/actualizarBaseDatos/Fault/ClassNotFoundException"/>
</operation>
<operation name="actualizarRuta">
<input wsam:Action="http://server/Recomendador/actualizarRutaRequest" message="tns:actualizarRuta"/>
<output wsam:Action="http://server/Recomendador/actualizarRutaResponse" message="tns:actualizarRutaResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://server/Recomendador/actualizarRuta/Fault/IOException"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://server/Recomendador/actualizarRuta/Fault/FileNotFoundException"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://server/Recomendador/actualizarRuta/Fault/ClassNotFoundException"/>
</operation>
<operation name="obtenerCosteTiempo">
<input wsam:Action="http://server/Recomendador/obtenerCosteTiempoRequest" message="tns:obtenerCosteTiempo"/>
<output wsam:Action="http://server/Recomendador/obtenerCosteTiempoResponse" message="tns:obtenerCosteTiempoResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://server/Recomendador/obtenerCosteTiempo/Fault/IOException"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://server/Recomendador/obtenerCosteTiempo/Fault/FileNotFoundException"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://server/Recomendador/obtenerCosteTiempo/Fault/ClassNotFoundException"/>
</operation>
<operation name="obtenerCosteDistancia">
<input wsam:Action="http://server/Recomendador/obtenerCosteDistanciaRequest" message="tns:obtenerCosteDistancia"/>
<output wsam:Action="http://server/Recomendador/obtenerCosteDistanciaResponse" message="tns:obtenerCosteDistanciaResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://server/Recomendador/obtenerCosteDistancia/Fault/IOException"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://server/Recomendador/obtenerCosteDistancia/Fault/FileNotFoundException"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://server/Recomendador/obtenerCosteDistancia/Fault/ClassNotFoundException"/>
</operation>
</portType>
<binding name="RecomendadorPortBinding" type="tns:Recomendador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="obtenerRutaTiempo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="gurdarDatos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="cargarDatos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="obtenerRutaDistancia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="actualizarBaseDatos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="actualizarRuta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="obtenerCosteTiempo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="obtenerCosteDistancia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="RecomendadorRutas">
<port name="RecomendadorPort" binding="tns:RecomendadorPortBinding">
<soap:address location="http://localhost:8080/ServidorRecomendador/RecomendadorRutas"/>
</port>
</service>
</definitions>