ServidorRecomendador/RecomendadorRutas.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. -->
<definitions targetNamespace="http://server/" name="RecomendadorRutas" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://server/" schemaLocation="RecomendadorRutas_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="obtenerRutaTiempo">
    <part name="parameters" element="tns:obtenerRutaTiempo"/>
  </message>
  <message name="obtenerRutaTiempoResponse">
    <part name="parameters" element="tns:obtenerRutaTiempoResponse"/>
  </message>
  <message name="FileNotFoundException">
    <part name="fault" element="tns:FileNotFoundException"/>
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException"/>
  </message>
  <message name="ClassNotFoundException">
    <part name="fault" element="tns:ClassNotFoundException"/>
  </message>
  <message name="actualizarBaseDatos">
    <part name="parameters" element="tns:actualizarBaseDatos"/>
  </message>
  <message name="actualizarBaseDatosResponse">
    <part name="parameters" element="tns:actualizarBaseDatosResponse"/>
  </message>
  <message name="obtenerCoste">
    <part name="parameters" element="tns:obtenerCoste"/>
  </message>
  <message name="obtenerCosteResponse">
    <part name="parameters" element="tns:obtenerCosteResponse"/>
  </message>
  <message name="actualizarRuta">
    <part name="parameters" element="tns:actualizarRuta"/>
  </message>
  <message name="actualizarRutaResponse">
    <part name="parameters" element="tns:actualizarRutaResponse"/>
  </message>
  <message name="obtenerRutaNormal">
    <part name="parameters" element="tns:obtenerRutaNormal"/>
  </message>
  <message name="obtenerRutaNormalResponse">
    <part name="parameters" element="tns:obtenerRutaNormalResponse"/>
  </message>
  <portType name="Recomendador">
    <operation name="obtenerRutaTiempo">
      <input wsam:Action="http://server/Recomendador/obtenerRutaTiempoRequest" message="tns:obtenerRutaTiempo"/>
      <output wsam:Action="http://server/Recomendador/obtenerRutaTiempoResponse" message="tns:obtenerRutaTiempoResponse"/>
      <fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://server/Recomendador/obtenerRutaTiempo/Fault/FileNotFoundException"/>
      <fault message="tns:IOException" name="IOException" wsam:Action="http://server/Recomendador/obtenerRutaTiempo/Fault/IOException"/>
      <fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://server/Recomendador/obtenerRutaTiempo/Fault/ClassNotFoundException"/>
    </operation>
    <operation name="actualizarBaseDatos">
      <input wsam:Action="http://server/Recomendador/actualizarBaseDatosRequest" message="tns:actualizarBaseDatos"/>
      <output wsam:Action="http://server/Recomendador/actualizarBaseDatosResponse" message="tns:actualizarBaseDatosResponse"/>
      <fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://server/Recomendador/actualizarBaseDatos/Fault/FileNotFoundException"/>
      <fault message="tns:IOException" name="IOException" wsam:Action="http://server/Recomendador/actualizarBaseDatos/Fault/IOException"/>
      <fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://server/Recomendador/actualizarBaseDatos/Fault/ClassNotFoundException"/>
    </operation>
    <operation name="obtenerCoste">
      <input wsam:Action="http://server/Recomendador/obtenerCosteRequest" message="tns:obtenerCoste"/>
      <output wsam:Action="http://server/Recomendador/obtenerCosteResponse" message="tns:obtenerCosteResponse"/>
      <fault message="tns:IOException" name="IOException" wsam:Action="http://server/Recomendador/obtenerCoste/Fault/IOException"/>
      <fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://server/Recomendador/obtenerCoste/Fault/FileNotFoundException"/>
      <fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://server/Recomendador/obtenerCoste/Fault/ClassNotFoundException"/>
    </operation>
    <operation name="actualizarRuta">
      <input wsam:Action="http://server/Recomendador/actualizarRutaRequest" message="tns:actualizarRuta"/>
      <output wsam:Action="http://server/Recomendador/actualizarRutaResponse" message="tns:actualizarRutaResponse"/>
      <fault message="tns:IOException" name="IOException" wsam:Action="http://server/Recomendador/actualizarRuta/Fault/IOException"/>
      <fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://server/Recomendador/actualizarRuta/Fault/FileNotFoundException"/>
      <fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://server/Recomendador/actualizarRuta/Fault/ClassNotFoundException"/>
    </operation>
    <operation name="obtenerRutaNormal">
      <input wsam:Action="http://server/Recomendador/obtenerRutaNormalRequest" message="tns:obtenerRutaNormal"/>
      <output wsam:Action="http://server/Recomendador/obtenerRutaNormalResponse" message="tns:obtenerRutaNormalResponse"/>
      <fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://server/Recomendador/obtenerRutaNormal/Fault/FileNotFoundException"/>
      <fault message="tns:IOException" name="IOException" wsam:Action="http://server/Recomendador/obtenerRutaNormal/Fault/IOException"/>
      <fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://server/Recomendador/obtenerRutaNormal/Fault/ClassNotFoundException"/>
    </operation>
  </portType>
  <binding name="RecomendadorPortBinding" type="tns:Recomendador">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="obtenerRutaTiempo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FileNotFoundException">
        <soap:fault name="FileNotFoundException" use="literal"/>
      </fault>
      <fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </fault>
      <fault name="ClassNotFoundException">
        <soap:fault name="ClassNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="actualizarBaseDatos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FileNotFoundException">
        <soap:fault name="FileNotFoundException" use="literal"/>
      </fault>
      <fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </fault>
      <fault name="ClassNotFoundException">
        <soap:fault name="ClassNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="obtenerCoste">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </fault>
      <fault name="FileNotFoundException">
        <soap:fault name="FileNotFoundException" use="literal"/>
      </fault>
      <fault name="ClassNotFoundException">
        <soap:fault name="ClassNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="actualizarRuta">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </fault>
      <fault name="FileNotFoundException">
        <soap:fault name="FileNotFoundException" use="literal"/>
      </fault>
      <fault name="ClassNotFoundException">
        <soap:fault name="ClassNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="obtenerRutaNormal">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FileNotFoundException">
        <soap:fault name="FileNotFoundException" use="literal"/>
      </fault>
      <fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </fault>
      <fault name="ClassNotFoundException">
        <soap:fault name="ClassNotFoundException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="RecomendadorRutas">
    <port name="RecomendadorPort" binding="tns:RecomendadorPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

